* {
    margin: 5;
    padding: 5;
}

h1 {
    color: green;
}

p {
    padding: 0;
}

footer {
    padding: 24px 0em 24px 0em;
    color: white;
    background-color: green;
}

img {
    height: 200px;
}

nav {
    color: white;
    border-bottom: 10px;
    padding: 15px;
    background-color: pink;
}


body {
  margin: 40px;
}

.tacos {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
    .tacos {
        background-color: pink;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }
